<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="hibernate-configuration" type="NHibernate.Cfg.ConfigurationSectionHandler, Nhibernate" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>

  <hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
    <session-factory>
      <property name="dialect">NHibernate.Dialect.MsSql2012Dialect</property>
      <property name="connection.connection_string">Server=localhost\SQL2017;Database=ServerDatabase;User Id=server;Password=test;</property>
      <property name="connection.isolation">ReadCommitted</property>
      <property name="show_sql">true</property>
      <property name="hbm2ddl.auto">validate</property>
    </session-factory>
  </hibernate-configuration>

  <!--<system.diagnostics>
    <sources>
      <source name="System.ServiceModel"
              switchValue="All, ActivityTracing"
              propagateActivity="true">
        <listeners>
          <add name="traceListener"
               type="System.Diagnostics.XmlWriterTraceListener"
               initializeData= "c:\log\Traces.svclog" />
        </listeners>
      </source>
    </sources>
  </system.diagnostics>-->

  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ChatServiceBehavior">
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceCredentials>
            <serviceCertificate findValue="46E2E725A6AF5C5CE4D4F09795FD8CCB60FC3AE5" storeLocation="LocalMachine" storeName="My" x509FindType="FindByThumbprint" />
            <clientCertificate>
              <authentication certificateValidationMode="None" revocationMode="NoCheck" />
            </clientCertificate>
            <!--<userNameAuthentication userNamePasswordValidationMode="Custom" customUserNamePasswordValidatorType="CustomUserNameValidator.XServices.CustomUserNameValidator, CustomUserNameValidator"/>-->
          </serviceCredentials>
        </behavior>
      </serviceBehaviors>
    </behaviors>

    <services>
      <service name="Chat.Server.Communication.ChatService"
               behaviorConfiguration="ChatServiceBehavior">

        <endpoint address="net.tcp://localhost:9000/ChatService"
                  binding="netTcpBinding"
                  bindingConfiguration="ServiceBinding"
                  contract="Chat.Core.Communication.Services.IChatService" />

      </service>
    </services>

    <bindings>
      <netTcpBinding>
        <binding name="ServiceBinding"
                 closeTimeout="00:00:10"
                 openTimeout="00:00:10"
                 receiveTimeout="00:10:00"
                 sendTimeout="00:01:00"
                 listenBacklog="10"
                 maxBufferPoolSize="524288"
                 maxBufferSize="65536"
                 maxConnections="10"
                 maxReceivedMessageSize="65536">
          <reliableSession ordered="true"
                           inactivityTimeout="00:10:00"
                           enabled="false" />
          <security mode="TransportWithMessageCredential">
            <transport clientCredentialType="None" protectionLevel="EncryptAndSign" />
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
  </system.serviceModel>
</configuration>